################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/bin
/obj

*.user

Customer.Microservice/bin/

Customer.Microservice/obj/

Gateway.WebApi/bin/

Gateway.WebApi/obj/

.vs/APIGateway_Ocelot/DesignTimeBuild/

.vs/APIGateway_Ocelot/v17/